.timerHeader {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    background: #C4C4C4;
}

.taskTitle {
    margin: 14px 40px;
    font-weight: bold;
}

.pomodoroNumber {
    font-weight: normal;
    margin-left: 420px;
}

.taskTitle, .pomodoroNumber {
    font-family: "Display", ui-sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 17px;
    color: #FFFFFF;
}