.timer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.timerValue {
    font-family: SF UI Display;
    font-style: normal;
    font-weight: 200;
    font-size: 150px;
    line-height: 179px;
    margin-top: 50px;
    color: #333333;
}

.timerLabel {
    display: flex;
    flex-direction: row;
}

.taskNumber {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 17px;
    color: #999999;
}

.taskTitle {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 17px;
    color: #333333;
    margin-left: 5px;
}

.timerControls {
    display: flex;
    flex-direction: row;
    margin-top: 32px;
}

.startButton,
.stopButton,
.proceedButton,
.madeButton, .skipButtonOnPause
{
    width: 145px;
    height: 55px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
}

.startButton,
.proceedButton {
    background: #A8B64F;
}

.startButton:hover {
    background: #899441;
}

.stopButton {
    border: 2px solid #C4C4C4;
    color: #C4C4C4;
}

.stopButton, .madeButton, .skipButton {
    margin-left: 25px;
}

.renewalButton {
    margin-left: 450px;
    margin-top: -220px;
    cursor: pointer;
}

.skipButton {
    border: 2px solid #DC3E22;
    color: #DC3E22;
    width: 189px;
}

.renewalButton svg circle:hover {
    fill: #899441;
}

.stopButtonOnWork {
    border-color: #DC3E22;
    color: #DC3E22;
}

.madeButton, .skipButtonOnPause {
    background-color: #DC3E22;
    color: #FFFFFF;
}

.work {
    color: #DC3E22;
}

.break {
    color: #A8B64F;
}