.schedule {
    position: absolute;
    top: 72px;
    right: 80px;
    width: 952px;
    height: 430px;
    background: #F4F4F4;
}

.dayOfWeekAxis {
    position: relative;
    top: 430px;
    height: 51px;
    background: #ECECEC;
}

.dayOfWeekAxis ul {
    position: relative;
    top: 11px;
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
}

.dayOfWeekAxis ul li span {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    color: #999999;
    margin-left: 80px;
}

.dayOfWeekAxis ul li span:hover, .dayOfWeekAxis .isCurrentDay  {
    color: #DC3E22;
}

.scale {
    position: absolute;
    width: 77px;
    height: 200px;
    background: #EA8A79;
    bottom: 40px;
    margin-left: 55px;
    z-index: 50;
    cursor: pointer;
}

.scale:hover {
    background: #EE735D;
}

.scale:active {
    background: #DC3E22;;
}


.timeAxis ul {
    position: absolute;
    right: 22px;
    list-style: none;
}

.timeAxis ul li  {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.timeAxis ul li span {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 33px;
    color: #333333;
    padding-bottom: 51px;
}

.divider {
    width: 843px;
    height: 1px;
    background: #333333;
    opacity: 0.2;
    margin-bottom: 51px;
    margin-right: 25px;
}
