.menu {
    position: absolute;
    right: 0;
}

.dropdown {
    position: absolute;
    width: 155px;
    height: 156px;
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    left: -68px;
    z-index: 5;
}